# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
compiler.xml
discord.xml
encodings.xml
jarRepositories.xml
jpa-buddy.xml
misc.xml
uiDesigner.xml
vcs.xml